In [11]:
import pandas as pd
from sqlalchemy import create_engine
import datetime as dt

In [12]:
imdb_movie_file = "Resources/IMDb_movies.csv"
imdb_movie_ratings_file = "Resources/IMDb_ratings.csv"
rotten_tomatos_ratings_file = "Resources/rotten_tomato_movie_review.csv"

In [13]:
rotten_tomatos_df = pd.read_csv(rotten_tomatos_ratings_file)
imbdb_movie_df = pd.read_csv(imdb_movie_file)
imbdb_movie_ratings_df = pd.read_csv(imdb_movie_ratings_file)

In [14]:
#Trying to normalize movie names for merging. By lowercasing movie titles and replacing &'s with and.
imbdb_movie_df = imbdb_movie_df[['imdb_title_id', 'title',
                                 'year', 'genre', 'duration',
                                 'country', 'language',
                                 'director', 'writer',
                                 'production_company',
                                 'actors', 'description']]
imbdb_movie_df.title = imbdb_movie_df.title.str.lower()
imbdb_movie_df.title = imbdb_movie_df.title.str.replace('&', 'and', regex=False)
imbdb_movie_df.drop_duplicates("title", inplace=True)

imbdb_movie_ratings_df = imbdb_movie_ratings_df[['imdb_title_id',
                                                 'weighted_average_vote',
                                                 'total_votes']]

#Since rotten tomatos wasn't founded until 1998 I dropped movies created before that date.
imbdb_movie_df = imbdb_movie_df.loc[imbdb_movie_df['year'] >= 1998]

rotten_tomatos_df.rename(columns={'Name':'title'}, inplace=True)
rotten_tomatos_df.title = rotten_tomatos_df.title.str.lower()
rotten_tomatos_df.title = rotten_tomatos_df.title.replace('&', 'and', regex=False)
rotten_tomatos_df.drop_duplicates("title", inplace=True)

In [15]:
#Filtering imdb
#Decided to filter based on movie name to have a consistent even number of rows across all dataframes.
filtered_imdb_df = imbdb_movie_df[imbdb_movie_df.title.isin(rotten_tomatos_df.title.tolist())]

filtered_ratings_df = imbdb_movie_ratings_df[imbdb_movie_ratings_df['imdb_title_id']
                                             .isin(filtered_imdb_df['imdb_title_id'].tolist())]

filtered_rotten_tomatoes_df = rotten_tomatos_df[rotten_tomatos_df.title.isin(filtered_imdb_df.title)]

In [16]:
#Merged id col from imdb dataframe into rotten tomatoes dataframe to use as foreign key in sql tables
merged_rotten_tomatoes_df = filtered_rotten_tomatoes_df.merge(filtered_imdb_df[['imdb_title_id',
                                                                                'title']], on='title')
merged_rotten_tomatoes_df = merged_rotten_tomatoes_df.drop(columns=['title', 'Rating',
                                                                    'Directed By', 'Runtime',
                                                                    'Studio'])

In [17]:
#Renaming column names for loading
filtered_imdb_df = filtered_imdb_df.rename(columns={'imdb_title_id': 'id'})
merged_rotten_tomatoes_df = merged_rotten_tomatoes_df.rename(columns={'TOMATOMETER score':'tomato_score',
                                                                      'TOMATOMETER Count':'tomato_count',
                                                                      'AUDIENCE score': 'audience_score',
                                                                      'AUDIENCE count':'audience_count'})

In [18]:
# I am keeping this in here. I found this code via some research. Pretty neat.
# I used this to get max lengths of strings per column in order to set varchar sizes for sql table columns.
import numpy as np

measurer = np.vectorize(len)
imdb_sizes = measurer(filtered_imdb_df.select_dtypes(include=[object]).values.astype(str)).max(axis=0)
rotten_sizes = measurer(merged_rotten_tomatoes_df.select_dtypes(include=[object]).values.astype(str)).max(axis=0)
imdb_ratings_sizes = measurer(imbdb_movie_ratings_df.select_dtypes(include=[object]).values.astype(str)).max(axis=0)
#print(f'{imdb_sizes}\n{rotten_sizes}\n{imdb_ratings_sizes}')

#Didn't end up using. Decided to let pandass handle table generation. Kept for notes.

In [26]:
#Connection string syntax "{USERNAME:PASSWORD@localhost:PORT/DB_NAME}"
password = '' #Use your postgres password

username = 'postgres' #postgres default username
port = '5433' #This was my default port
db_name = 'movies_db'
conn_str = f"{username}:{password}@localhost:{port}/"
engine = create_engine(f'postgresql://{conn_str}')

In [36]:
#Create Database if not exist
conn = engine.connect()
conn.execute("commit")

#Did this to catch errors generally from db existing.
try:
    conn.execute(f"create database {db_name}")
    conn.close()
except:
    conn.close()

#Connect to new database
conn_str = f"{username}:{password}@localhost:{port}/{db_name}"
engine = create_engine(f'postgresql://{conn_str}')

In [21]:
#Drop Tables if exist to avoid errors later.
with engine.connect() as con:
    con.execute('DROP TABLE IF EXISTS imdb_movies;'
                'DROP TABLE IF EXISTS imdb_ratings;'
                'DROP TABLE IF EXISTS rotten_ratings;')

In [22]:
#Loading tables into postgres. I let postgres handing table generation.
filtered_imdb_df.to_sql(name='imdb_movies', con=engine, if_exists='append', index=False)
filtered_ratings_df.to_sql(name='imdb_ratings', con=engine, if_exists='append', index=False)
merged_rotten_tomatoes_df.to_sql(name='rotten_ratings', con=engine, if_exists='append', index=False)

In [23]:
#Wanted to do everything within pandas, but could not find a way to create the tables and set the keys during.
#So I ran a query after the tables were instantiated.
with engine.connect() as con:
    con.execute('ALTER TABLE imdb_movies ADD PRIMARY KEY (Id);'
                'ALTER TABLE imdb_ratings ADD FOREIGN KEY (imdb_title_id) REFERENCES imdb_movies(Id);'
                'ALTER TABLE rotten_ratings ADD FOREIGN KEY (imdb_title_id) REFERENCES imdb_movies(Id);')